body{
    font-size: 1.125rem;
    margin: 0;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    color: #707070;
    margin-top: 0;
}

.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto; 
}

.column{
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
   margin-top: 2rem;
}

.firstTwoCol{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.column3, .column5{
background-color: black;
color: white;
padding: 1rem;
}

span{
    color: #B7832F;
}

img{
    width: 100%;
    height: 170px;
    padding: 0;    
}

@media (min-width:600px) and (max-width:799px){
    .col2{
        flex-direction: row;
    }

    .firstTwoCol{
        flex-direction: row;
        width: 100%;
    }

    .column3{
        box-sizing: border-box;
        width: 100%
    }

    .column1,.column2{
        width: 48%;
    }

    .column4{
       width: 65%;
    }
   
   .column5{
        width: 25%;
    }  
    img{
        padding: 0;
    }
}

@media (min-width:800px){
    .firstTwoCol{
        flex-direction: row;
        width: 72%;
    }

    .column{
        flex-direction: row;
    }

    .column3,.column5{
        width: 22%;  
    }

    .column2{
        width: 60%;
    }

    .column1{
        width: 30%;
    }

    .column4{
        width: 72%;
    }
    
    img{
    padding: 0 30px;
    box-sizing: border-box;
}
}